*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper{
  width: 60vw;
  margin-top: 100px;
}
